* {
  margin: 0;
  text-decoration: none;
}

.gdprBackground {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  .gdprContainer {
    background-color: rgb(240, 240, 240);
    min-height: 90%;
    width: 80%;
    min-width: 235px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .gdprTitle {
      p {
        font-size: 40pt;
      }
    }
    .gdprText {
      padding: 20px;
      text-align: center;
    }
    .gdprButtonContainer {
      height: 50px;
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .readButton {
        height: 100%;
        width: 40%;
        min-width: 80px;
        border: 2px solid black;
        background-color: rgb(185, 202, 255);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: black;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .acceptButton {
        height: 100%;
        width: 40%;
        min-width: 80px;
        border: 2px solid black;
        background-color: rgb(166, 255, 166);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
