.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .informationContainer{
        width: 80%;
        background-color: rgba(255, 255, 255, 0.68);
        border-radius: 10px;
        border: 1px solid black;
        display: flex; 
        flex-direction: column;
        align-items: center;
      
        .informationTextContainer{

            padding: 30px;
        }
    }
    form{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 10px; 
        
        .labelInputContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            label{
                color: black;
                text-shadow: 1px 1px white;
            }
            select{
                width: 100%;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.68);
                border-radius: 10px;
                transition: all 0.5s ease;
            &:hover{
                background-color: rgba(255, 214, 101, 0.68);
            }
            }
            input{
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.68);
                border-radius: 10px;
                border: 1px solid black;
                transition: all 0.5s ease;
            &:hover{
                background-color: rgba(255, 214, 101, 0.68);
            }
            }
            .validate{
                background-color: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(5px);
                color: red;
                padding: 5px; 
                border-radius: 10px;
                border: 2px solid grey;
            }
        }
        .submitButton{
            width: 60%;
            padding: 10px;
            font-size: 16pt;
            letter-spacing: 1pt;
            text-align: center;
            border: 2px solid grey;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.68);
            backdrop-filter: blur(5px);
            transition: all 0.2s ease-in-out;
        &:hover {
            background-color: rgba(255, 214, 101, 0.68);
        }
            &:active{
                background-color: rgb(56, 42, 4);
            }
        }
    }
}