.mainContainer{
    .heroContainer{
    background-image: url(../images/background-img-book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

        .mainContentContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}