.mainContainer {
  background-color: #e3e9e9;
  .heroContainer {
    background-image: url(./../images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .emptyBox {
      height: 15vh;
      width: 100%;
      position: absolute;
      top: 0;
    }
    .contactContainer {
      width: 80%;
      max-width: 1300px;
      min-height: 50vh;
      border: 2px solid black;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);

      .contactTitleContainer {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 16pt;
        }
      }
      .contactFormContainer {
        height: 80%;
        form {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .labelInputContainer {
            display: flex;
            height: 20%;
            width: 75%;

            .labelContainer {
              width: 25%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgb(255, 253, 247);
              border-radius: 15px 0 0 15px;
            }
            input {
              border: 0;
              border-radius: 0 15px 15px 0;
              width: 75%;
              background-color: rgb(255, 253, 247);
            }
            textarea {
              resize: none;
              border: 0;
              border-radius: 15px;
              width: 100%;
              background-color: rgb(255, 253, 247);
            }
          }
          button {
            width: 25%;
            height: 7%;
            border: 0;
            border-radius: 10px;
            background-color: rgb(40, 221, 101);
            transition: all 0.2s ease-in-out;
            font-size: 13pt;
            &:hover {
              background-color: rgb(92, 245, 118);
            }
          }
        }
      }
      .confirmContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .confirmTitle {
          p {
            font-size: 30pt;
            text-align: center;
            padding: 5px;
          }
        }
        .confirmText {
          p {
            text-align: center;
            padding: 5px;
          }
        }
        .confirmVid {
          width: 50%;
          max-width: 400px;

          video {
            width: 100%;
            padding: 10px;
          }
        }
      }
    }
  }
}
