* {
  scroll-behavior: smooth;
  text-decoration: none;
}

.mainContainer {
  height: 100vh;
  width: 100%;
  background-image: url(./../images/home-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.menuContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerMenuContainer {
    height: 90%;
    width: 80%;
    border: 5px solid black;
  }
}

.aboutContainer {
  height: 100vh;
  width: 100%;
  background-image: url(./../images/about-bg.jpg);
  background-size: cover;
  background-position: 45%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerAboutContainer {
    height: 90%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    .aboutTitleContainer {
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 30pt;
        letter-spacing: 1pt;
        margin: 0;
      }
    }
    .aboutTextContainer {
      p {
        font-size: 11pt;
        margin: 0 10% 0 10%;
        text-align: center;
      }
    }
  }
}
