.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        select{
            width: 60%;
            padding: 10px; 
            background-color: rgba(255, 255, 255, 0.80);
            border-radius: 10px;
            transition: all 0.5s ease;
            &:hover{
                background-color: rgb(255, 214, 101);
            }
        }
        .validate{
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(5px);
            color: red;
            padding: 5px; 
            border-radius: 10px;
            border: 2px solid grey;
        }
        .submitButton{
            width: 60%;
            padding: 10px;
            font-size: 16pt;
            letter-spacing: 1pt;
            text-align: center;
            border: 2px solid grey;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.68);
            backdrop-filter: blur(5px);
            transition: all 0.2s ease-in-out;
        &:hover {
          background-color: rgb(255, 214, 101);
        }
            &:active{
                background-color: rgb(56, 42, 4);
            }
        }
    }
}